package-lock.json -diff
data/icons/re.sonny.Junction-symbolic.svg -diff
data/icons/re.sonny.Junction.Devel.svg -diff
data/icons/re.sonny.Junction.svg -diff
po/*.po -diff

# po/re.sonny.Junction.pot -diff
# po/*.po -diff
