package-lock.json -diff
test/assert.js -diff
test/uvu.js -diff
data/icons/re.sonny.Junction-symbolic.svg -diff
data/icons/re.sonny.Junction.Devel.svg -diff
data/icons/re.sonny.Junction.svg -diff

# po/re.sonny.Junction.pot -diff
# po/*.po -diff
