[Desktop Entry]
# TRANSLATORS: Don't translate
Name=Junction
Comment=Application chooser
Exec=re.sonny.Junction %u
Terminal=false
Type=Application
Categories=Settings;System;Utility;GNOME;GTK;
Icon=re.sonny.Junction
StartupNotify=true
# TRANSLATORS: Don't translate
Keywords=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
