@define-color accent_color @yellow_4;
@define-color accent_bg_color @yellow_4;
@define-color accent_fg_color alpha(black, 0.8);

.welcome #content {
  padding: 68px;
}

.welcome button.link {
  color: white;
}

.main {
  border-radius: 30px;
  background: none;
  background-color: #353433;
  border: none;
  box-shadow: none;
}

.main.tiled,
.main.tiled-top,
.main.tiled-left,
.main.tiled-right,
.main.tiled-bottom,
.main.maximized,
.main.fullscreen {
  border-radius: 0;
}

.main headerbar windowhandle > box {
  padding: 12px;
}

.main.tiled headerbar windowhandle > box,
.main.tiled-top headerbar windowhandle > box,
.main.tiled-left headerbar windowhandle > box,
.main.tiled-right headerbar windowhandle > box,
.main.tiled-bottom headerbar windowhandle > box,
.main.maximized headerbar windowhandle > box,
.main.fullscreen headerbar windowhandle > box {
  /* these are the default Libadwaita values */
  padding-bottom: 6px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 6px;
}

.main .list {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  background: none;
  margin-bottom: 12px;
}

.main .bar {
  padding: 12px;
}

.main .list button {
  border-radius: 18px;
  padding: 12px;
  font-size: 0.6rem;
}

.main .list button:focus {
  outline: none;
  /* This is libadwaita background for active */
  /* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/widgets/_buttons.scss#L3 */
  background-color: alpha(white, 0.3);
}

.main entry.uri {
  background-color: #1e1e1e;
  border-radius: 18px;
  border: solid 1px black;
}
