@define-color accent_color @yellow_4;
@define-color accent_bg_color @yellow_4;
@define-color accent_fg_color alpha(black, .8);

.welcome > contents > box > box {
  padding: 68px;
}

.welcome button.link {
  color: white;
}

.main {
  border-radius: 30px;
  background: none;
  background-color: rgba(20, 20, 20, 0.95);
  border: none;
  box-shadow: none;
  padding: 12px;
}

.main .list {
  background: none;
  margin-bottom: 12px;
}

.main .list button {
  border-radius: 18px;
  padding: 12px;
  font-size: 0.6rem;
}

.main .list button:focus {
  outline: none;
  /* This is libadwaita background for active */
  /* https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/widgets/_buttons.scss#L3 */
  background-color: alpha(white, 0.3);
}

.main entry.uri {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 18px;
  border: solid 1px black;
}
